<ion-header>
    <ion-toolbar class="cabecalho2">

      <div class="cabecalho">
        <div class="botao_logo">
          <ion-buttons slot="start" class="botao_voltar">
        <ion-button routerLink="/" fill="clear">
          <img src="/ch.png" alt="logo_cinehub" class="imagem_voltar">
        </ion-button>
      </ion-buttons>    
        </div>

        <div class="barraSearch">
           <input class="home_barra" placeholder="O que você quer assistir hoje?" type="search">
        </div>
      </div>
    </ion-toolbar>
  
</ion-header>

<ion-content [scrollY]="true" [scrollX]="false" class="movies-content">
  <div class="section">
    <h2 class="section-title">Filmes</h2>

    <div class="movies-grid">

      @for (movie of allMovies; track movie.title) {

        <div class="movie-card" appHoverHighlight [routerLink]="['/filme', movie.title]">

          <div class="poster-container">

            
            <img *ngIf="movie['poster'] && movie['poster'] !== 'N/A'"
                 [src]="movie['poster']"
                 alt="{{ movie['title'] }}"
                 class="poster-img">

          
            <div *ngIf="!movie['poster'] || movie['poster'] === 'N/A'"
                 class="poster-placeholder">
              <span>{{ movie['title'] | slice:0:2 }}</span>
            </div>

          </div>

          <div class="movie-info-card">
            <h3>{{ movie['title'] }}</h3>
          </div>

        </div>

      }

    </div>
  </div>

  <div class="footer">
    <p>&copy; 2025 CineHub - Todos os direitos reservados</p>
  </div>
</ion-content>
